body {
    background-color: whitesmoke;
    width: 100vw;
    margin: 0;
    padding: 0;

}

header {
    width: 100vw;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background-color: #111111;
    z-index: 10;


}

header h1 {
    font-size: 40px;
    padding: 20px;
    background-color: #111111;
    margin: 0;
}

@media (min-width:680px) {
    img {
        display: none;
    }
    input {
        display: none;
    }

    nav {
        margin: 0;
        padding: 15px;
        margin: 0;
    }
    
    nav ul {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav ul li {
        
    
    }
    
    nav li a {
        margin: 0;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px ;
        padding-left: 40px;
        padding-right: 40px; 
        color: whitesmoke;
        transition: 0.2s;
    
    }
    
    nav li a:hover {
        background-color: orangered;
        
    
    }
}

@media (max-width:680px) {

    #DesktopMenu {
        display: none;
    } 

    nav img {
        margin: 0;
        width: 5%;
        display: flex;
        position: relative;
        left: 10px;
    }
}
    #burger {
        position: absolute;
        top: 115px;
        left: -120px;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 150px;
        background-color: #111111;
    }
    
    #burger ul {
        padding: 5px;
        text-decoration: none;
        list-style: none;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #burger ul li
    {
        margin-top: 10px;
    }

    #burger ul li a{
        margin: 5px;
        background-color: chartreuse;
        text-decoration: none;
    }
    nav img:hover ~ #burger ul {
        position: absolute;
        top: 115px;
        left: 0px;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 150px;
        background-color: #111111;
    }

    /* nav {
        position: absolute;
        top: 85px;
        left: -120px;
        margin: 0;
        padding: 0;
        width: 120px;
        background-color: #111111;

    }
    nav ul {
        padding: 5px;
        text-decoration: none;
        list-style: none;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    nav ul li
    {
        margin-top: 10px;
    }
    nav ul li a{
        margin: 5px;
        background-color: chartreuse;
        text-decoration: none;
    }

    img {
        margin: 0;
        width: 5%;
        display: flex;
        position: relative;
        left: 10px;
    }
    input {
        display: none;
    }

    input:checked ~ nav ul {
        transition: 0.5s;
        left: 0px;
        top: 120px;
    }
}    */
